body {
    color: #0D0A0B;
    margin: 0;
    padding: 0;
}

#landing-header {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: #80CED7;
    left: 0;
    top: 0;
    width: 100%;
}

#web-title {
    padding-left: 15px;
}

#landing-nav {
    text-align: center;
    padding-top: 30px;
}

a {
    color: black;
    text-decoration: none;
}

#landing-main {
    display: grid;
    grid-template-columns: 80% 20%;
    margin-left: 15px;
    margin-right: 15px;
}

#features {
    margin-left: 5%;
}

figure {
    text-align: left;
}

img {
    border: 2px solid darkblue;
}

#product-pages {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    justify-content: center;
    margin-right: 5%;
}


.big-button {
    border: 3px solid rgb(38, 125, 255);
    background-color: #568259;
    color: white;
    text-align: center;
    width: 150px;
    height: 50px;
}

.big-button:hover {
    background-color: #8eda93;
    color: rgb(0, 0, 0);
}

#landing-footer {
    color: white;
    background-color: #002344;
    padding-top: 20px;
    padding-bottom: 10px;
    bottom: 0;
}

#login-page {
    display: flex;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

#login-box {
    text-align: center;
    padding: 15%;
    border: 5px solid rgb(50, 132, 255);
}

#login-footer {
    text-align: center;
}